<% provide(:title, "About") %>
<html>
<body>
<div class="center jumbotron">
<h1>About</h1>
<p>
  This is my masters diploma project called Judging Online, 
  which is suppose to help with creation of formulas for mmr calculating,
  as well as calculations themselfs. 
</p>
</div>
</body>
</html>
