<p id="notice"><%= notice %></p>

<p>
  <strong>Formula:</strong>
  <%= @additional_param.formula_id %>
</p>

<%= link_to 'Edit', edit_additional_param_path(@additional_param) %> |
<%= link_to 'Back', additional_params_path %>
