<% provide(:title, "Known users") %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <% @users.each do |user| %>
        <% if current_user.eql?(user) %>
          <h1>Hey, that's me!</h1>
	<% else %>
          <h1><%= link_to user.username, user_path(user.id) %></h1>
        <% end %>
      <% end %>
    </section>
  </aside>
</div>

