<% provide(:title, "Known users") %>
<h1>All registered users</h1>

<%= will_paginate %>
<ul class="indexes">
  <% @users.each do |user| %>
    <% if current_user? user %>
      <li>Hey, that's me!</li>
    <% else %>
      <li><%= link_to user.username, user_path(user.id) %></li>
    <% end %>
  <% end %>
</ul>

<%= will_paginate %>

