<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "Judging online", root_path , id: "logo" %>
        <nav>
          <div class="nav navbar-nav navbar-right">
	    <%= link_to "Sign up",signup_path, 
		class: "btn btn-lg btn-primary" %>
            <%= link_to "Sign in ", '#', 
		class: "btn btn-lg btn-success" %>        
          </div>
        </nav>
      </div>
    </header>
